body
{
    background-color: #0E1323;
    min-height: 100vh;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1.5rem;
   
}

@font-face {
    font-family: rubikLight;
    src: url(../assets/static/fonts/Rubik-Light.ttf);
}

.cardBg
{
    background-color: #1C204B;
}


.profile
{
    background-color: #1C204B;
    grid-row: 3 / 9;
    grid-column: 3 / 6;
    border-radius: 15px;
    position: relative;
}

.report
{
border-radius: 15px;
position: absolute;
height: 70%;
width: 100%;
background-color: #5747EA;
padding: 2rem;
}

.jeremyImg
{
    height: 78px;
    width: 78px;
    border: solid white 3px;
    border-radius: 50%;
    filter: drop-shadow(0 0.2rem 0.2rem  black);
   
}

.report h6
{
    font-size: 15px;
    color: #BBC0FF;
    font-weight: 400;
}

.report h2
{
    font-family: rubikLight;
    font-size: 40px;
    color: #FFFFFF;
    font-weight:300 ;
    
}