body
{
    background-color: #0E1323;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 25%;
    gap: 1rem;
   
}



.cardBg
{
    background-color: #1C204B;
}


.profile
{
    background-color: #1C204B;

    border-radius: 15px;
}